rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if request.resource.data.name is string && 
                      request.resource.data.name != "" && 
                      request.resource.data.text is string && 
                      request.resource.data.text != "" &&
                      request.resource.data.rating >= 1 && 
                      request.resource.data.rating <= 5;
      allow update, delete: if false;
    }
  }
}
